@font-face {
  font-family: "Nexa Black";
  font-display: swap;
  src: url("../fonts/Nexa-Black.woff") format("woff"), url("../fonts/Nexa-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans -i";
  font-display: swap;
  src: url("../fonts/PTS56F.woff") format("woff"), url("../fonts/PTS56F.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  font-display: swap;
  src: url("../fonts/Nexa_Bold.woff") format("woff"), url("../fonts/Nexa_Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/PTS55F.woff") format("woff"), url("../fonts/PTS55F.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nexa - Book";
  font-display: swap;
  src: url("../fonts/Nexa-Book.woff") format("woff"), url("../fonts/Nexa-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Arial";
}

body._lock {
  overflow: hidden;
}

._container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: auto;
  background-color: #ededed;
}

.header:before {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #c5c5c5;
  z-index: 15;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 30px;
  width: 100%;
  position: relative;
  margin-bottom: 35px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo p {
  max-width: 190px;
  margin-left: 10px;
  text-shadow: 0 1px 0 #ffffff;
  color: #7d7d7d;
  font-family: "PT Sans -i";
  font-size: 12px;
  letter-spacing: 0.3px;
}

.header__logo p span {
  background-image: -o-linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(-38deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  text-shadow: 0 1px 0 #ffffff;
  color: #6017a3;
  font-family: "Nexa Black";
  font-size: 39px;
  font-weight: 400;
}

.header__logo img {
  width: 48px;
}

.header__search {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search img {
  width: 14px;
  margin-left: 4px;
  margin-right: 15px;
}

.header__search div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search div input {
  width: 299px;
  padding: 15px;
}

.header__search div:last-child img {
  width: 23px;
  position: absolute;
  right: -5px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header__search p:first-child {
  text-shadow: 0 1px 0 #ffffff;
  color: #b5b5b5;
  font-family: Nexa;
  font-size: 12px;
  font-weight: 700;
}

.header__search p:nth-child(3) {
  margin-right: 23px;
  font-size: 25px;
  width: 0.3px;
  color: #c7c7c7;
}

.header__search p:nth-child(4) {
  text-shadow: 0 1px 0 #ffffff;
  color: #58159b;
  font-family: Nexa;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.12px;
  margin-right: 20px;
  cursor: pointer;
}

.header__search p:nth-child(4) span {
  display: inline-block;
  letter-spacing: 0.11px;
  font-size: 18px;
  -webkit-transform: translate(-3px, 0.5px) rotate(90deg);
      -ms-transform: translate(-3px, 0.5px) rotate(90deg);
          transform: translate(-3px, 0.5px) rotate(90deg);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  position: relative;
  z-index: 6;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d7d7d7), to(#ffffff));
  background-image: -o-linear-gradient(bottom, #d7d7d7 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #d7d7d7 0%, #ffffff 100%);
  padding: 31px 40px;
  height: 100%;
  border-top: none;
  text-align: center;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: none;
  border-right: 0.3px solid #d4d4d4;
  border-left: 0.3px solid #d4d4d4;
}

.menu__list li img {
  max-width: 100%;
  width: 26px;
  margin-bottom: 4px;
}

.menu__list li a {
  color: #707070;
  font-size: 17px;
  font-family: "PT Sans";
  text-shadow: 0 1px 0 #ffffff;
  width: 90px;
  text-align: center;
  margin: 0 auto;
}

.menu__list li:after {
  content: "";
  position: absolute;
  width: 102%;
  height: 5px;
  bottom: -2px;
  left: -1px;
  background-color: #6017a3;
  z-index: 5;
}

.menu__list li:hover {
  background-image: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  -webkit-transform: translate(0, -11px);
      -ms-transform: translate(0, -11px);
          transform: translate(0, -11px);
}

.menu__list li:hover a {
  color: #701dbb;
}

.menu__list li:hover:after {
  height: 16px;
  bottom: -13px;
  position: absolute;
  z-index: 5;
  background-color: #6017a3;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-menu {
  display: none;
}

.slick-slider {
  position: relative;
  padding: 0 50px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slick-slide.slick-center {
  opacity: 1;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  font-size: 0;
}

.no-webp .slick-arrow.slick-prev {
  background: url(../img/slider/left-arrow.png) 0 0/100% no-repeat; }

.slick-arrow.slick-prev {
  left: 0;
  width: 30px;
  height: 50px;
}

.no-webp .slick-arrow.slick-next {
  background: url(../img/slider/right-arrow.png) 0 0/100% no-repeat; }

.slick-arrow.slick-next {
  right: 0;
  width: 30px;
  height: 50px;
}

.slick-dots {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li.slick-active button {
  background-color: #8f33c4;
}

.slick-dots li {
  margin: 0 10px;
}

.slick-dots button {
  font-size: 0;
  height: 10px;
  width: 10px;
  background-color: #979797;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 0 #ffffff;
          box-shadow: 0 1px 0 #ffffff;
}

.slider__item {
  text-align: center;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.slider__item img {
  max-width: 100%;
}

.parallax {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.parallax__item {
  position: absolute;
  top: 0;
  left: -10%;
  width: 110%;
  height: 100%;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._obf {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.popup__content {
  background-color: #fff;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup._active {
  opacity: 1;
  visibility: visible;
}

.popup._active .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.footer {
  background-color: #373737;
  color: #fff;
  border-top: 4px solid #914dcf;
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer__body {
  position: relative;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo p {
  max-width: 190px;
  margin-left: 10px;
  color: #ffffff;
  font-family: "PT Sans -i";
  font-size: 12px;
  letter-spacing: 0.3px;
}

.footer__logo p span {
  background-image: -o-linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(-38deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: #ffffff;
  font-family: "Nexa Black";
  font-size: 39px;
  font-weight: 400;
}

.footer__logo img {
  width: 48px;
}

.footer__information p:first-child {
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 40px;
  margin-top: 35px;
  max-width: 451px;
}

.footer__information p:last-child {
  font-family: Helvetica;
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  color: #7e7e7e;
  max-width: 762px;
}

.footer__links {
  margin-bottom: 11.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__links a {
  color: #fff;
  margin-bottom: 11.5px;
  margin-right: 20px;
}

.footer__links a:last-child {
  font-size: 11px;
}

.footer__soacial {
  position: absolute;
  right: 5px;
  top: 10px;
}

.footer__hovers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__hovers p {
  margin-right: 15px;
  position: relative;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.footer__hovers p:nth-child(odd) {
  font-family: Nexa;
  font-size: calc(9px + 4 * ((100vw - 320px) / 640));
  font-weight: 700;
}

.footer__hovers p:nth-child(odd):before {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  bottom: -10px;
  right: 0;
  background-color: #914dcf;
  -webkit-transition: all 0.4s 0.05s;
  -o-transition: all 0.4s 0.05s;
  transition: all 0.4s 0.05s;
}

.footer__hovers p:nth-child(odd):hover:before {
  width: 100%;
  left: 0;
}

.footer__hovers p:nth-child(even) {
  color: #767676;
}

.footer__hovers p:last-child {
  margin-right: 0;
}

.footer__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3px;
  margin-top: 40px;
}

.footer__networks a {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__networks a p {
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.footer__networks a img {
  margin-right: 5px;
}

.footer__networks a:first-child {
  margin-right: 15px;
}

.footer__networks a:first-child img {
  width: 14px;
}

.footer__networks a:nth-child(2) img {
  height: 13px;
}

.footer__networks a:nth-child(3) img {
  height: 11px;
}

.footer__networks a:nth-child(4) {
  margin-right: 0;
}

.footer__networks a:nth-child(4) img {
  width: 14px;
}

.section1 {
  position: relative;
}

.section1__loop {
  display: block;
  background-color: #451a4a;
  display: block;
  width: auto;
  position: relative;
  border-radius: 50%;
  z-index: 5;
}

.section1__loop img {
  margin: 41px;
}

.section1__bg {
  width: 100vw;
  height: 70vh;
  position: absolute;
  top: -10px;
  z-index: 3;
}

.article1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68.6vh;
}

.section2 {
  color: #fff;
  background-color: #2d2d2d;
}

.section2__title {
  padding-top: 50px;
  margin-bottom: 30px;
}

.section2__title h1 {
  font-family: "Nexa - Book";
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2__title p {
  color: #a161db;
  font-family: Nexa;
  font-weight: 700;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.35px;
}

.section2__map {
  margin-bottom: 10px;
}

.section2__map img {
  max-width: 100%;
}

.article2 {
  padding-bottom: 70px;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -14px;
}

.columns__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 14px;
  position: relative;
  z-index: 0;
}

.columns__item:last-child:after {
  content: "";
  display: none;
}

.columns__item:after {
  content: "";
  width: 140px;
  height: 3px;
  background-color: #6d6d6d;
  position: absolute;
  right: -55px;
  top: 35px;
}

.columns__title h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Nexa - Book";
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}

.columns__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.columns__item-body p {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns__item-body img {
  width: 80px;
  margin-bottom: 40px;
}

.no-webp .section3 {
  background: #222222 url(../img/screen3/bg.png) center bottom no-repeat; }

.section3 {
  padding-top: 100px;
}

.section3__title {
  text-shadow: 0 1px 1px #000000;
  color: #ffffff;
  font-family: "Nexa - Book";
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -130px;
  margin-bottom: 20px;
}

.section3__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 0 1px 1px #000000;
  color: #a161db;
  font-family: Nexa;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.35px;
}

.article3 {
  padding-top: 405px;
  padding-bottom: 50px;
}

.section4 {
  background-color: #ebebeb;
}

.section4__title {
  text-shadow: 0 1px 0 #ffffff;
  color: #717171;
  font-family: "Nexa - Book";
  font-size: calc(26px + 10 * ((100vw - 320px) / 640));
  font-weight: 400;
  letter-spacing: 0.9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  margin-bottom: 5px;
}

.section4__subtitle {
  text-shadow: 0 1px 0 #ffffff;
  color: #717171;
  font-family: Nexa;
  font-size: 14px;
  margin-bottom: 60px;
  font-weight: 700;
  letter-spacing: 0.35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article4 {
  padding-bottom: 100px;
}

.slider {
  margin-bottom: 60px;
}

.slider__item div {
  position: relative;
}

.slider__item div:after {
  content: "";
  width: 11.27%;
  display: block;
  height: 8.71%;
  position: absolute;
  right: 11.5%;
  z-index: 5;
  cursor: pointer;
  bottom: 11.5%;
  background: url(../img/screen4/icons/tweet.svg) center/contain no-repeat;
}

.slider__item div:before {
  content: "";
  display: block;
  cursor: pointer;
  width: 23.4%;
  height: 21.2%;
  background-color: #8f33c4;
  position: absolute;
  right: 5.9%;
  z-index: 4;
  bottom: 6%;
}

.slider__item div a {
  display: block;
  position: absolute;
  width: 23.4%;
  height: 21.2%;
  right: 5.7%;
  z-index: 6;
  bottom: 5.8%;
  background-color: transparent;
}

.slider__item h4 {
  text-align: left;
  text-shadow: 0 1px 0 #ffffff;
  color: #7b7b7b;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px;
  margin-left: 10px;
}

.slider__item p {
  text-align: left;
  text-shadow: 0 1px 0 #ffffff;
  color: #7b7b7b;
  font-family: "PT Sans";
  font-weight: 400;
  letter-spacing: 0.35px;
  font-size: 14px;
  margin-left: 10px;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 10px;
}

.reviews__item:first-child .reviews__item-body {
  position: relative;
}

.reviews__item:first-child .reviews__item-body:after {
  content: "+";
  position: absolute;
  left: 8px;
  top: 2px;
  font-family: "Nexa-Book";
  font-size: 22px;
  letter-spacing: -0.26px;
  font-weight: 500;
  color: #fff;
}

.reviews__item:first-child .reviews__item-body:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8f33c4;
}

.reviews__item:first-child .reviews__item-body a {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: transparent;
}

.reviews__item:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 10px;
}

.reviews__item:nth-child(2) .reviews__item-body {
  position: relative;
}

.reviews__item:nth-child(2) .reviews__item-body:after {
  content: "+";
  position: absolute;
  left: 8px;
  top: 2px;
  font-family: "Nexa-Book";
  font-size: 22px;
  letter-spacing: -0.26px;
  font-weight: 500;
  color: #fff;
}

.reviews__item:nth-child(2) .reviews__item-body:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8f33c4;
}

.reviews__item:nth-child(2) .reviews__item-body a {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: transparent;
}

.reviews__item:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-top: 30px;
}

.reviews__item-body {
  background-color: #fff;
  padding: 50px;
  padding-top: 60px;
}

.reviews__title {
  color: #252525;
  font-family: Nexa;
  font-size: calc(17.6px + 12.4 * ((100vw - 320px) / 640));
  font-weight: 600;
  margin-bottom: 29px;
}

.reviews__text p:nth-child(1) {
  color: #6017a3;
  font-family: Nexa;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 40px;
}

.reviews__text p:last-child {
  color: #949494;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  .footer__hovers p:nth-child(odd) {
    font-size: 13px;
  }

  .section4__title {
    font-size: 36px;
  }

  .reviews__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 1400px) {
  .article1 {
    height: 68.4vh;
  }
}

@media screen and (max-width: 1290px) {
  .section3 {
    background-size: contain !important;
  }
}

@media screen and (max-width: 1224px) {
  .section3 {
    padding-top: 5vw;
  }
}

@media screen and (max-width: 1184px) {
  .section3__title {
    margin-top: -100px;
  }
}

@media screen and (max-width: 1094px) {
  .section3 {
    padding-top: 3vw;
  }
}

@media screen and (max-width: 1090px) {
  .section3 {
    padding-top: 0px;
    background-position: center;
  }

  .article3 {
    padding-top: 30vw;
  }
}

@media screen and (max-width: 1056px) {
  .section3__title {
    margin-top: -50px;
  }
}

@media screen and (max-width: 1008px) {
  .footer {
    padding: 30px 10px 50px 10px;
  }

  .reviews {
    margin: 0 0;
  }

  .reviews__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-right: 0;
    margin: 0 10px;
  }

  .reviews__item:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-left: 0;
    margin: 0 10px;
    margin-top: 30px;
  }

  .reviews__item:last-child {
    margin: 0 10px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 990px) {
  .columns {
    margin: 0;
  }

  .columns__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 15px;
  }

  .columns__item:after {
    content: "";
    display: none;
  }

  .columns__title h2 {
    margin-bottom: 10px;
  }

  .columns__item-body img {
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 980px) {
  .header__search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    height: 200px;
  }

  .menu__list li:after {
    bottom: 0;
    width: 100%;
  }

  .section1__bg {
    top: 0;
  }
}

@media screen and (max-width: 858px) {
  .footer__information p:first-child {
    max-width: 1000px;
  }

  .footer__soacial {
    position: static;
    left: auto;
    top: auto;
    margin-top: 30px;
  }
}

@media screen and (max-width: 784px) {
  .section3 {
    background-size: 100% 100% !important;
  }

  .section3__title {
    margin-top: 0px;
    margin-bottom: -5px;
  }

  .section3__subtitle {
    margin-top: 20px;
  }

  .article3 {
    padding-top: 22vw;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
  }

  .header:before {
    display: block;
  }

  .header__top {
    padding-top: 0;
    z-index: 15;
  }

  .header__logo {
    position: asolute;
    top: 50%;
    -webkit-box-shadow: unset !important;
            box-shadow: unset !important;
    -webkit-transform: translate(0, 10%);
        -ms-transform: translate(0, 10%);
            transform: translate(0, 10%);
  }

  .header__logo p {
    text-shadow: unset !important;
    color: #8d8d8d;
  }

  .header__search {
    left: 50%;
    top: 70px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .header__search p {
    text-shadow: unset !important;
  }

  .header__search div input {
    margin-top: 15px;
  }

  .header__search div:last-child img {
    -webkit-transform: translate(0, -20%);
        -ms-transform: translate(0, -20%);
            transform: translate(0, -20%);
  }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    min-height: 400px;
    max-height: 400px;
    min-width: calc(100vw - 30%);
    max-width: calc(100vw - 30%);
    -webkit-transform: translate(0, 200px);
        -ms-transform: translate(0, 200px);
            transform: translate(0, 200px);
  }

  .menu__list li {
    min-height: 100px;
    max-height: 100px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    margin-bottom: 180px !important;
  }

  .menu__list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .menu__list li:first-child {
    margin-right: 10px;
  }

  .menu__list li:first-child a {
    width: 89.99px;
  }

  .menu__list li:nth-child(2) {
    margin-left: 10px;
  }

  .menu__list li:nth-child(3) {
    margin-top: -130px;
    margin-right: 10px;
    margin-bottom: 210px !important;
  }

  .menu__list li:nth-child(4) {
    margin-top: -130px;
    margin-left: 10px;
    margin-bottom: 250px;
  }

  .menu__list li:nth-child(5) {
    margin-top: -160px;
    margin-right: 10px;
    margin-bottom: 0 !important;
  }

  .menu__list li:nth-child(6) {
    margin-top: -160px;
    margin-left: 10px;
    margin-bottom: 0 !important;
  }

  .menu__list li:after {
    width: 100%;
  }

  .menu__list li {
    background-color: #fff;
  }

  .menu__list li:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .menu__list li:hover:after {
    bottom: -5px;
    height: 5px;
  }

  .menu__body {
    position: fixed;
    top: -100%;
    overflow: auto;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    background-color: #efefef;
  }

  .menu__body._active {
    top: 0;
  }

  .icon-menu {
    display: block;
    width: 30px;
    height: 20px;
    z-index: 16;
    position: relative;
    -webkit-transform: translate(90vw, -67px);
        -ms-transform: translate(90vw, -67px);
            transform: translate(90vw, -67px);
  }

  .icon-menu span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: calc(50% - 1px);
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .section1__loop {
    z-index: -1;
  }

  .section1__bg {
    z-index: -2;
  }

  .article1 {
    margin-top: 60px;
    height: 70vh;
  }

  .section2__title h1 {
    font-size: 30px;
  }

  .section3 {
    background-size: auto auto !important;
    background-position: center bottom !important;
    padding-top: 150px;
  }

  .section3__title {
    margin-top: -150px;
  }

  .article3 {
    max-height: 50px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 694px) {
  .slider__item div:after {
    right: 18%;
  }

  .slider__item div:before {
    right: 12.3%;
    width: 21%;
  }

  .slider__item div a {
    right: 12.3%;
    width: 21%;
  }
}

@media screen and (max-width: 676px) {
  .section3 {
    padding-top: 200px;
    padding-bottom: 5px;
  }

  .article3 {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 664px) {
  .section2__title h1 {
    font-size: 25px;
  }

  .section3__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 654px) {
  .slider__item div:after {
    right: 7.3vw;
  }

  .slider__item div:before {
    right: 1;
  }

  .slider__item div a {
    right: 1;
  }
}

@media screen and (max-width: 649px) {
  .slider__item div:after {
    right: 14.3%;
    bottom: 12%;
  }

  .slider__item div:before {
    right: 9.7%;
    bottom: 6.3%;
  }
}

@media screen and (max-width: 596px) {
  .slider__item div:after {
    right: 12%;
  }

  .slider__item div:before {
    right: 8%;
  }

  .slider__item div a {
    right: 8%;
  }
}

@media screen and (max-width: 564px) {
  .section2__title h1 {
    font-size: 22px;
  }

  .section3__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 494px) {
  .section2__title h1 {
    font-size: 4.5vw;
    margin-bottom: 10px;
  }

  .section2__title p {
    font-size: 12px;
  }

  .section3 {
    padding-top: 250px;
    padding-bottom: 0;
  }

  .section3__title {
    font-size: 4.7vw;
  }
}

@media screen and (max-width: 490px) {
  .menu__list {
    min-width: 320px;
    max-width: 320px;
  }

  .menu__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    min-height: 90px;
    max-height: 90px;
    min-width: 150px;
    max-width: 150px;
  }
}

@media screen and (max-width: 484px) {
  .slider__item div:after {
    bottom: 20px;
    right: 19px;
    width: 18px;
    height: 13px;
  }

  .slider__item div:before {
    right: 10px;
    bottom: 11px;
    width: 35px;
    height: 29px;
  }

  .slider__item div a {
    right: 10px;
    bottom: 11px;
    width: 35px;
    height: 29px;
  }
}

@media screen and (max-width: 428px) {
  .slider__item div:after {
    bottom: 18px;
  }

  .slider__item div:before {
    bottom: 9px;
  }

  .slider__item div a {
    bottom: 9px;
  }
}

@media screen and (max-width: 398px) {
  .slider__item div:after {
    right: 11.9%;
    bottom: 12.5%;
  }

  .slider__item div:before {
    right: 6%;
    bottom: 6.5%;
  }

  .slider__item div a {
    right: 6%;
    bottom: 6.5%;
  }

  .slider__item h4 {
    font-size: 16px;
  }

  .slider__item p {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .icon-menu {
    -webkit-transform: translate(88vw, -67px);
        -ms-transform: translate(88vw, -67px);
            transform: translate(88vw, -67px);
  }
}

@media screen and (max-width: 342px) {
  .slider__item div:after {
    right: 10.7%;
  }

  .slider__item div:before {
    width: 30px;
    height: 24px;
  }

  .slider__item div a {
    width: 30px;
    height: 24px;
  }
}

.webp .slick-arrow.slick-prev { background: url(../img/slider/left-arrow.webp) 0 0/100% no-repeat; }

.webp .slick-arrow.slick-next { background: url(../img/slider/right-arrow.webp) 0 0/100% no-repeat; }

.webp .section3 { background: #222222 url(../img/screen3/bg.webp) center bottom no-repeat; }